.form {
  &__title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__col {
    flex-grow: 1;
  }

  &__select-container {
    padding-top: 9px;
    margin-bottom: 10px;
  }

  &__field-container {
    max-width: 400px;
    margin-bottom: 10px;
  }

  &__textarea {
    width: 100%;
    height: 200px;
  }

  &__input-file-container input{
    height: 32px;
    padding: 0;
  }
}