//fonts
//$golos-900: Golos-Black, sans-serif;
//$golos-700: Golos-B, sans-serif;
//$golos-600: Golos-SB, sans-serif;
//$golos-500: Golos-M, sans-serif;
$golos-400: Golos-R, sans-serif;

//$loos-400: Loos-R, sans-serif;
//$loos-700: Loos-B, sans-serif;

//Colors
$black: #000000;
$green: green;
$red: red;
$white: #FFFFFF;
//$white-second: #FEFEFE;
$purple: #5B2599;
//$light-purple: #784ED0;
//$darkgray: #505050;
$gray: #797979;
$lightgray: #cdcdcd;
$error-color: #AD0000;


// Gradients
//$main-gradient: radial-gradient(77.57% 174.4% at 100% 100%, #00DEE9 9.86%, #05D4E5 12.75%, #1F9FCE 29.22%, #3473BB 45.35%, #4551AC 60.83%, #5139A2 75.44%, #582A9B 88.87%, #5B2599 100%);
//$main-gradient-revert: radial-gradient(77.57% 174.4% at 0% 0%, #00DEE9 9.86%, #05D4E5 12.75%, #1F9FCE 29.22%, #3473BB 45.35%, #4551AC 60.83%, #5139A2 75.44%, #582A9B 88.87%, #5B2599 100%);
//$spacer-gradient: radial-gradient(115% 258.55% at 100% 50%, #00DEE9 9.86%, #05D4E5 12.75%, #1F9FCE 29.22%, #3473BB 45.35%, #4551AC 60.83%, #5139A2 75.44%, #582A9B 88.87%, #5B2599 100%);

// Shadows
//$box-shadow: 0px 0px 10px #E5E5E5;
