/* ===== Переменные названий шрифтов START ===== */
$inter: inter, system-ui, sans-serif;
/* ===== Переменные названий шрифтов END ===== */

/* ===== Переменные начертаний шрифтов START ===== */
$font-regular: 400;
$font-medium:  600;
$font-bold:    700;
/* ===== Переменные начертаний шрифтов END ===== */

/* ===== Переменные цветов START ===== */
$white: #FFFFFF;
$black: #000000;

$Zinc-900: #18181B;
$Zinc-800: #27272A;
$Zinc-700: #3F3F46;
$Zinc-600: #52525B;
$Zinc-500: #71717A;
$Zinc-400: #a1a1aa;
$Zinc-300: #D4D4D8;
$Zinc-200: #E4E4E7;
$Zinc-100: #F4F4F5;
$Zinc-50: #FAFAFA;

$Red-main: #ff2020;
$Red-400: #D97159;
$Red-300: #FAAF9D;
$Red-200: #FACBC0;
$Red-100: #F5DBD6;
$Red-50: #FDEEEA;
$Red-25: #fff7f4;

$Orange-600: #EA580C;
$Orange-50: #FFEDD5;

$Rose-600: #E11D48;
$Rose-300: #FDA4AF;
$Rose-400: #FB7185;
$Rose-50: #FFF1F2;

$Indigo-600: #4F46E5;
$Indigo-400: #818CF8;
$Indigo-50: #EEF2FF;

$Green-600: #16A34A;
$Green-50: #F0FDF4;

/* ===== Переменные цветов END ===== */

/* ===== Переменные media START ===== */
$screen-sm-s: 625px;
$screen-sm: 728px;
$screen-md: 760px;
$screen-md-l: 767px;
$screen-xl: 1024px;
$screen-xl-l: 1240px;

$screen-xxl: 1440px;
$tablet-width: 768px;
/* ===== Переменные media END ===== */